body {
    text-align: center;
    margin: none;
    color: black;
    background-color: white;
}
#nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#logo {
    margin: 2vh;
    cursor: pointer;
}
.vertical_line {
    border-left: 3px solid black;
    height: 40px;
    margin: 1vh;
    margin-top: 3.2vh;
    display: flex;
}
#nav_vert {
    margin-top: 3.5vh;
}
#nav_form {
    display: flex;
    justify-content: space-around;
    flex-grow: 2;
}
.text_button {
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 1vh 1.5vh;
    font-size: 16px;
    height: 5vh;
    margin: 0.25vh;
    margin-right: none;
    margin-top: 3vh;
    border-radius: 7px;
}
.text_button:hover {
    background-color: #eee;
    color: black;
}
#search_section {
    background-color: rgb(228, 228, 228);
    border-radius: 7px;
    height: 4vh;
    margin: 0.75vh;
    margin-top: 3.5vh;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}
#search_bar {
    border-radius: 7px;
    border: none;
    height: 3vh;
    padding: 0.5vh;
    padding-left: 1.5vh;
    background: transparent;
    flex-grow: 2;
}
.img_button {
    color: #E4C1F9;
    font-size: 3vh;
    margin: 1.5vh;
    margin-top: 3.8vh;
    cursor: pointer;
}
#mag {
    font-size: 1.5vh;
    margin: 1.25vh;
    margin-right: 0vh;
}
#spotlight {
    text-align: left;
    color: white;
}
#slideshow {
    margin: auto;
    width: 90vw;
    height: 50vh;
    overflow: visible;
}
img {
    width: 90vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
}
.spot_title {
    position: relative;
    bottom: 28vh;
    left: 5vw;
    font-size: 5vh;
}
.details {
    position: relative;
    bottom: 28vh;
    left: 5vw;
    font-size: 2.5vh;
    line-height: 1.25vh;
}
#categories {
    display: flex;
    justify-content: space-evenly;
    margin: 1vh;
    margin-top: 2.5vh;
    position: relative;
    left: -19vw;
}
#category_form {
    display: flex;
}
.category {
    font-size: 20px;
    background: transparent;
}
.selected {
    background: #E4C1F9;
    font-size: 20px;
}
#headers {
    color: lightslategray;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}
.header {
    display: flex;
    margin-left: 3vw;
    margin-right: 3vw;
}
#artist {
    flex-grow: 2;
}
#tour {
    flex-grow: 2;
}
#date {
    flex-grow: 1;
}
#venue {
    flex-grow: 1;
}